{% set hasSidebar = true %}
{% set hasOutline = true %}
{% set component = getComponent('quiet-' + page.fileSlug) %}

{% extends '../_includes/base.njk' %}

{# Component header #}
{% block beforeContent %}
  <h1 class="title">{{ title }}</h1>
  <div class="component-info">
    <code class="component-tag">&lt;{{ component.tagName }}&gt;</code>
    <quiet-badge>Since {{ component.since }}</quiet-badge>
    <quiet-badge {% if component.status == 'stable' %}variant="primary"{% endif %}>
      {{ component.status }}
    </quiet-badge>
  </div>
  <p class="component-summary">
    {{ component.summary }}
  </p>
{% endblock %}

{# Content #}
{% block content %}
  {{ content | safe }}
{% endblock %}

{# Component API #}
{% block afterContent %}
  {# Slots #}
  {% if component.slots.length %}
    <h2>Slots</h2>

    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for slot in component.slots %}
            <tr>
              <td class="table-name">
                {% if slot.name %}
                  <code>{{ slot.name }}</code>
                {% else %}
                  (default)
                {% endif %}
              </td>
              <td class="table-description">{{ slot.description | inlineMarkdown | safe }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# Properties #}
  {% if component.properties.length %}
    <h2>Properties</h2>

    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th>Attribute</th>
            <th class="table-description">Description</th>
            <th>Reflects</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          {% for prop in component.properties %}
            <tr>
              <td class="table-name">
                <code>{{ prop.name }}</code>
              </td>
              <td class="table-name">
                {% if prop.attribute %}
                  <code>{{ prop.attribute }}</code>
                {% endif %}
              </td>
              <td class="table-description">
                {{ prop.description | inlineMarkdown | safe }}
              </td>
              <td class="table-checkmark">
                {% if prop.reflects %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                  </svg>
                {% endif %}
              </td>
              <td>
                {% if prop.type.text %}
                  <code>{{ prop.type.text | trimPipes | inlineMarkdown | safe }}</code>
                {% endif %}
              </td>
              <td>
                {% if prop.default %}
                  <code>{{ prop.default | inlineMarkdown | safe }}</code>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# Methods #}
  {% if component.methods.length %}
    <h2>Methods</h2>
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
            <th>Arguments</th>
          </tr>
        </thead>
        <tbody>
          {% for method in component.methods %}
            <tr>
              <td class="table-name"><code>{{ method.name }}()</code></td>
              <td class="table-description">{{ method.description | inlineMarkdown | safe }}</td>
              <td>
                {% if method.parameters.length %}
                  <code>
                    {% for param in method.parameters %}
                      {{ param.name }}: {{ param.type.text | trimPipes }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </code>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# States #}
  {% if component.states.length %}
    <h2>States</h2>
    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
            <th>CSS selector</th>
          </tr>
        </thead>
        <tbody>
          {% for state in component.states %}
            <tr>
              <td class="table-name"><code>{{ state.name }}</code></td>
              <td class="table-description">{{ state.description | inlineMarkdown | safe }}</td>
              <td><code>[data-state-{{ state.name }}]</code></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# Events #}
  {% if component.events.length %}
    <h2>Events</h2>

    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for event in component.events %}
            <tr>
              <td class="table-name"><code>{{ event.name }}</code></td>
              <td class="table-description">{{ event.description | inlineMarkdown | safe }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# Custom Properties #}
  {% if component.cssProperties.length %}
    <h2>CSS custom properties</h2>

    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          {% for cssProperty in component.cssProperties %}
            <tr>
              <td class="table-name"><code>{{ cssProperty.name }}</code></td>
              <td class="table-description">{{ cssProperty.description | inlineMarkdown | safe }}</td>
              <td>
                {% if cssProperty.default %}
                  <code>{{ cssProperty.default }}</code>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# CSS Parts #}
  {% if component.cssParts.length %}
    <h2>CSS parts</h2>

    <div class="table-scroll">
      <table>
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th class="table-description">Description</th>
            <th>CSS selector</th>
          </tr>
        </thead>
        <tbody>
          {% for cssPart in component.cssParts %}
            <tr>
              <td><code>{{ cssPart.name }}</code></td>
              <td class="table-description">{{ cssPart.description | inlineMarkdown | safe }}</td>
              <td><code>::part({{ cssPart.name }})</code></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {# Dependencies #}
  {% if component.dependencies.length %}
    <h2>Dependencies</h2>
    <p>
      This component automatically imports the following elements.
    </p>

    <ul>
      {% for dependency in component.dependencies %}
        <li><a href="/docs/components/{{ dependency | stripQuietPrefix }}"><code>&lt;{{ dependency }}&gt;</code></a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Importing</h2>
  <p>
    To import this component without using the autoloader, use the following code.
  </p>
  <pre><code class="language-js">import '__CDN_URL__/components/TODO/TODO.js';</code></pre>
{% endblock %}
