<quiet-dialog id="site-search" light-dismiss>
  <div id="site-search-container">
    {# Header #}
    <header>
      <quiet-text-field
        id="site-search-text-field"
        type="search"
        appearance="unstyled"
        size="xl"
        clearable
        placeholder="Search"
        autofocus
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        enterkeyhint="go"
        spellcheck="false"
        maxlength="100"
        role="combobox"
        aria-autocomplete="list"
        aria-expanded="true"
        aria-controls="site-search-listbox"
        aria-haspopup="listbox"
        aria-activedescendant
      >
        <quiet-icon slot="start" name="search"></quiet-icon>
      </quiet-text-field>
    </header>

    {# Body #}
    <div id="site-search-body">
      <ul
        id="site-search-listbox"
        role="listbox"
        aria-label="Search results"
      ></ul>
      <div id="site-search-empty">
        <quiet-icon name="cheese"></quiet-icon>
        No results found
      </div>
    </div>

    {# Footer #}
    <footer>
      <small>
        <kbd aria-label="Up">
          <quiet-icon name="arrow-up"></quiet-icon>
        </kbd>
        <kbd aria-label="Down">
          <quiet-icon name="arrow-down"></quiet-icon>
        </kbd>
        Navigate
      </small>

      <small>
        <kbd aria-label="Enter">
          <quiet-icon name="corner-down-left"></quiet-icon>
        </kbd>
        Select
      </small>

      <small><kbd>esc</kbd> Close</small>
    </footer>
  </div>
</quiet-dialog>
