{# Get started #}
<h2>Get Started</h2>
<ul>
  <li><a href="/start/about">About this project</a></li>
  <li><a href="/start/installation">Installation</a></li>
  <li><a href="/start/using-web-components">Using Web Components</a></li>
  <li><a href="/start/themes">Themes</a></li>
  <li><a href="/start/reset">CSS reset</a></li>
</ul>

{# Resources #}
<h2>Community</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet/discussions">Discussion forum</a></li>
  <li><a href="https://github.com/quietui/quiet/discussions/categories/feature-requests">Request a feature</a></li>
  <li><a href="https://github.com/quietui/quiet/discussions/categories/help-support">Help &amp; Support</a></li>
  <li><a href="https://github.com/quietui/quiet/issues/new?labels=bug&projects=&template=bug_report.md&title=">Report a bug</a></li>
  <li><a href="https://twitter.com/quiet_ui">Follow on Twitter</a></li>
</ul>

{# Developers #}
<h2>Developers</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet">Get the code</a></li>
  <li><a href="/developers/running">Running the project</a></li>
  <li><a href="/developers/editor-setup">Editor setup</a></li>
  <li><a href="/developers/contributing">Contributing</a></li>
  <li><a href="/developers/changelog">Changelog</a></li>
</ul>

{# Components #}
<h2>Components</h2>
<ul>
  <li><a href="/components/button">Button</a></li>
  <li><a href="/components/spinner">Spinner</a></li>
</ul>
