{# Get started #}
<h2>Get Started</h2>
<ul>
  <li><a href="/docs/">Installation</a></li>
  <li><a href="/docs/using-web-components">Using Web Components</a></li>
  <li><a href="/docs/restyle">Quiet Restyle</a></li>
  <li><a href="/docs/themes">Themes</a></li>
</ul>

{# Resources #}
<h2>Community</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet/discussions">Discussion forum</a></li>
  <li><a href="https://github.com/quietui/quiet/discussions/categories/feature-requests">Request a feature</a></li>
  <li><a href="https://github.com/quietui/quiet/discussions/categories/help-support">Help &amp; Support</a></li>
  <li><a href="https://github.com/quietui/quiet/issues/new?labels=bug&projects=&template=bug_report.md&title=">Report a bug</a></li>
</ul>

{# Developers #}
<h2>Developers</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet">Get the code</a></li>
  <li><a href="/docs/developers/running">Running the project</a></li>
  <li><a href="/docs/developers/editor-setup">Editor setup</a></li>
  <li><a href="/docs/developers/contributing">Contributing</a></li>
  <li><a href="/docs/developers/changelog">Changelog</a></li>
</ul>

{# Components #}
<h2>Components</h2>
<ul>
  <li><a href="/docs/components/badge">Badge</a></li>
  <li><a href="/docs/components/button">Button</a></li>
  <li><a href="/docs/components/spinner">Spinner</a></li>
</ul>
