{# Get started #}
<h2>Get Started</h2>
<ul>
  <li><a href="/docs/">Installation</a></li>
  <li><a href="/docs/using-components">Using Components</a></li>
  <li><a href="/docs/components/">Browse Components</a></li>
  <li><a href="/docs/theming">Theming</a></li>
  <li><a href="/docs/restyle">Quiet Restyle</a></li>
  <li><a href="/docs/form-validation">Form Validation</a></li>
  <li><a href="/docs/css-utilities">CSS Utilities</a></li>
  <li><a href="/docs/icon-search">Icon search</a></li>
  <li><a href="/docs/accessibility">Accessibility</a></li>
  <li><a href="/docs/ai">Using AI with Quiet</a></li>
  <li><a href="/docs/localization">Localization</a></li>
  <li><a href="/docs/frameworks">Frameworks</a></li>
</ul>

{# Resources #}
<h2>Community</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet/discussions">Discussion Forum</a></li>
  <li><a href="https://github.com/quietui/quiet/discussions/categories/feature-requests">Request a Feature</a></li>
  <li><a href="https://github.com/quietui/quiet/issues/new?labels=bug&projects=&template=bug_report.md&title=">Report a Bug</a></li>
  <li><a href="https://bsky.app/profile/quietui.org" target="_blank">Quiet on Bluesky</a></li>
  <li><a href="https://x.com/quiet_ui" target="_blank">Quiet on X</a></li>
</ul>

{# Developers #}
<h2>Developers</h2>
<ul>
  <li><a href="https://github.com/quietui/quiet">Get the Code</a></li>
  <li><a href="/docs/developers/running">Running the Project</a></li>
  <li><a href="/docs/developers/editor-setup">Editor Setup</a></li>
  <li><a href="/docs/developers/contributing">Contributing</a></li>
  <li><a href="/docs/developers/changelog">Changelog</a></li>
</ul>

{# Components #}
<h2>Components</h2>
<ul>
  <li><a href="/docs/components/avatar">Avatar</a></li>
  <li><a href="/docs/components/badge">Badge</a></li>
  <li>
    <a href="/docs/components/breadcrumb">Breadcrumb</a>
    <ul>
      <li>
        <a href="/docs/components/breadcrumb-item">Breadcrumb Item</a>
      </li>
    </ul>
  </li>
  <li><a href="/docs/components/browser-frame">Browser Frame</a></li>
  <li><a href="/docs/components/callout">Callout</a></li>
  <li><a href="/docs/components/card">Card</a></li>
  <li><a href="/docs/components/color-picker">Color Picker</a></li>
  <li><a href="/docs/components/copy">Copy</a></li>
  <li><a href="/docs/components/dialog">Dialog</a></li>
  <li><a href="/docs/components/divider">Divider</a></li>
  <li>
    <a href="/docs/components/dropdown">Dropdown</a>
    <ul>
      <li>
        <a href="/docs/components/dropdown-item">Dropdown Item</a>
      </li>
    </ul>
  </li>
  <li><a href="/docs/components/empty-state">Empty State</a></li>
  <li><a href="/docs/components/flip-card">Flip Card</a></li>
  <li><a href="/docs/components/icon">Icon</a></li>
  <li><a href="/docs/components/include">Include</a></li>
  <li><a href="/docs/components/joystick">Joystick</a></li>
  <li><a href="/docs/components/pagination">Pagination</a></li>
  <li><a href="/docs/components/popover">Popover</a></li>
  <li><a href="/docs/components/progress">Progress</a></li>
  <li><a href="/docs/components/qr">QR Code</a></li>
  <li><a href="/docs/components/scroller">Scroller</a></li>
  <li><a href="/docs/components/search-list">Search List</a></li>
  <li><a href="/docs/components/share">Share</a></li>
  <li><a href="/docs/components/slide-activator">Slide Activator</a></li>
  <li><a href="/docs/components/sparkline">Sparkline</a></li>
  <li><a href="/docs/components/spinner">Spinner</a></li>
  <li><a href="/docs/components/splitter">Splitter</a></li>
  <li><a href="/docs/components/spoiler">Spoiler</a></li>
  <li>
    <a href="/docs/components/tab-list">Tab List</a>
    <ul>
      <li><a href="/docs/components/tab">Tab</a>
      <li><a href="/docs/components/tab-panel">Tab Panel</a>
    </ul>
  </li>
  <li>
    <a href="/docs/components/toast">Toast</a>
    <ul>
      <li><a href="/docs/components/toast-item">Toast Item</a></li>
    </ul>
  </li>
  <li><a href="/docs/components/toolbar">Toolbar</a></li>
  <li><a href="/docs/components/tooltip">Tooltip</a></li>
  <li><a href="/docs/components/transition-group">Transition Group</a></li>
  {# PLOP_NEW_COMPONENT_PLACEHOLDER #}
</ul>

{# Form controls #}
<h2>Form controls</h2>
<ul>
  <li><a href="/docs/components/button">Button</a></li>
  <li><a href="/docs/components/button-group">Button Group</a></li>
  <li><a href="/docs/components/checkbox">Checkbox</a></li>
  <li><a href="/docs/components/checkbox-group">Checkbox Group</a></li>
  <li><a href="/docs/components/color-input">Color Input</a></li>
  <li><a href="/docs/components/file-input">File Input</a></li>
  <li>
    <a href="/docs/components/listbox">Listbox</a>
    <ul>
      <li><a href="/docs/components/listbox-item">Listbox Item</a></li>
    </ul>
  </li>
  <li><a href="/docs/components/passcode">Passcode</a></li>
  <li>
    <a href="/docs/components/radio">Radio</a>
    <ul>
      <li><a href="/docs/components/radio-item">Radio Item</a></li>
    </ul>
  </li>
  <li><a href="/docs/components/rating">Rating</a></li>
  <li><a href="/docs/components/text-area">Text Area</a></li>
  <li><a href="/docs/components/text-field">Text Field</a></li>
  <li><a href="/docs/components/toggle-icon">Toggle Icon</a></li>
  <li><a href="/docs/components/select">Select</a></li>
  <li><a href="/docs/components/slider">Slider</a></li>
  <li><a href="/docs/components/switch">Switch</a></li>
</ul>

{# Text & Formatting #}
<h2>Text &amp; Formatting</h2>
<ul>
  <li><a href="/docs/components/bytes">Bytes</a></li>
  <li><a href="/docs/components/countdown">Countdown</a></li>
  <li><a href="/docs/components/date">Date &amp; Time</a></li>
  <li><a href="/docs/components/fit-text">Fit Text</a></li>
  <li><a href="/docs/components/hotkey">Hotkey</a></li>
  <li><a href="/docs/components/lorem-ipsum">Lorem Ipsum</a></li>
  <li><a href="/docs/components/number">Number</a></li>
  <li><a href="/docs/components/number-ticker">Number Ticker</a></li>
  <li><a href="/docs/components/relative-time">Relative Time</a></li>
  <li><a href="/docs/components/text-mask">Text Mask</a></li>
  <li><a href="/docs/components/typewriter">Typewriter</a></li>
</ul>

{# Experimental #}
<h2>Experimental <quiet-icon name="bulb"></quiet-icon></h2>
<ul>
  <li><a href="/docs/components/stamp">Stamp</a></li>
</ul>
