<div class="splash-image">
  <img
    src="/assets/images/whiskers/creating-all-the-things.svg"
    alt="Whiskers the mouse creating amazing things with his laptop"
    class="not-mobile"
  >
  <img
    src="/assets/images/whiskers/creating.svg"
    alt="Whiskers the mouse creating amazing things with his laptop"
    class="only-mobile"
  >
</div>
