.code-example {
  margin-block-end: 1.25lh;
  border: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  border-radius: var(--quiet-border-radius);
}

.code-example-preview {
  padding: 2rem;
  border-bottom: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);

  @media screen and (max-width: 959px) {
    padding: 1rem;
  }

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.code-example-source {
  border-bottom: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
}

.code-example:not(.open) .code-example-source {
  display: none;
}

.code-example.open .code-example-toggle quiet-icon {
  rotate: 180deg;
}

.code-example-source pre {
  margin: 0;
  border-radius: 0;

  code {
    background: transparent;
  }
}

.code-example-source:not(:has(+ .code-example-buttons)) {
  border-bottom: none;

  pre {
    border-bottom-right-radius: var(--quiet-border-radius);
    border-bottom-left-radius: var(--quiet-border-radius);
  }
}

.code-example-buttons {
  display: flex;
  align-items: stretch;

  button {
    all: unset;
    flex: 1 0 auto;
    padding: 0.5rem;
    border-inline-start: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
    color: var(--quiet-text-muted);
    font-size: 0.875rem;
    text-align: center;
    cursor: pointer;

    &:first-of-type {
      border-inline-start: none;
      border-end-start-radius: var(--quiet-border-radius);
    }

    &:last-of-type {
      border-end-end-radius: var(--quiet-border-radius);
    }

    &:focus-visible {
      outline: var(--quiet-focus-ring);
    }
  }

  .code-example-pen {
    flex: 0 0 100px;
    white-space: nowrap;
  }

  .code-example-dir {
    flex: 0 0 1.75em;
    font-size: 1rem;
  }

  quiet-icon {
    width: 1em;
    height: 1em;
    vertical-align: -2px;
  }
}

.code-example:has(.code-example-preview:dir(ltr)) quiet-icon[name='text-direction-ltr'],
.code-example:has(.code-example-preview:dir(rtl)) quiet-icon[name='text-direction-rtl'] {
  display: none;
}

/* Presentational helpers */
.code-example-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.code-example-flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
