.code-example {
  border: var(--quiet-base-border-style) var(--quiet-base-border-width) var(--quiet-neutral-border-subtle);
  border-radius: var(--quiet-base-border-radius);
  color: var(--docs-gray-700);
  margin-block-end: var(--quiet-base-content-spacing);
}

.code-example-preview {
  color: var(--docs-body-color);
  padding: 2rem;
  border-bottom: var(--quiet-base-border-style) var(--quiet-base-border-width) var(--quiet-neutral-border-subtle);

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.code-example-source {
  border-bottom: var(--quiet-base-border-style) var(--quiet-base-border-width) var(--quiet-neutral-border-subtle);
}

.code-example:not(.open) .code-example-source {
  display: none;
}

.code-example.open .code-example-toggle quiet-icon {
  rotate: 180deg;
}

.code-example-source pre {
  border-radius: 0;
  margin: 0;

  code {
    background: transparent;
  }
}

.code-example-buttons {
  display: flex;
  align-items: stretch;

  button {
    all: unset;
    flex: 1 0 auto;
    font-size: 0.875rem;
    border-left: var(--quiet-base-border-style) var(--quiet-base-border-width) var(--quiet-neutral-border-subtle);
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

    &:first-of-type {
      border-left: none;
      border-bottom-left-radius: var(--quiet-base-border-radius);
    }

    &:last-of-type {
      border-bottom-right-radius: var(--quiet-base-border-radius);
    }

    &:focus-visible {
      outline: var(--quiet-base-focus-ring);
    }
  }

  .code-example-pen {
    flex: 0 0 100px;
    white-space: nowrap;
  }

  quiet-icon {
    width: 1em;
    height: 1em;
    vertical-align: -2px;
  }
}
