.copy-button {
  position: absolute;
  top: 0.3875rem;
  right: 0.3875rem;
  font-family: var(--quiet-font-family);

  &::part(copy-button__button) {
    background: var(--quiet-neutral-900);
    color: white;
  }

  &::part(copy-button__button):hover {
    background: var(--quiet-neutral-800);
    color: white;
  }

  &:focus-visible {
    outline: var(--quiet-focus-ring);
  }
}

@media (hover: hover) {
  .copy-button:not(:focus-within) {
    opacity: 0;
  }

  pre:hover > .copy-button {
    opacity: 1;
  }
}
