@import 'code-examples.css';
@import 'copy-code.css';
@import 'external-links.css';
@import 'highlight-code.css';
@import 'search.css';

/* Docs-specific variables */
:root {
  --docs-max-width: 1376px;
  --docs-header-height: 3.375rem;
  --docs-outline-width: 14rem;
  --docs-content-spacing: 5rem;
  --docs-header-z-index: 10;
  --docs-sidebar-z-index: 20;
  --docs-sidebar-width: 17rem;
  --docs-sidebar-width-mobile: 20rem;
  --docs-sidebar-speed: 250ms;
}

/* Utility classes */
html.quiet-dark .only-light,
html:not(.quiet-dark) .only-dark {
  display: none !important;
}

@media screen and (min-width: 960px) {
  .two-columns {
    columns: 2;
    gap: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .only-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 959px) {
  .not-mobile {
    display: none !important;
  }
}

#skip-to-main {
  position: fixed;
  z-index: calc(var(--docs-header-z-index) + 1);
  top: 0.5rem;
  left: 0.5rem;
  background: var(--quiet-paper-color);
  border-radius: var(--quiet-border-radius);
  box-shadow: 0 5px 20px rgb(0 0 0 / 0.125);
  text-decoration: none;
  outline-offset: 0;
  padding: 0.75rem 1rem;
}

#skip-to-main:not(:focus) {
  /* Visually hidden */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: var(--docs-header-z-index);
  top: 0;
  right: 0;
  left: 0;
  height: var(--docs-header-height);
  background-color: color-mix(in oklab, transparent, var(--quiet-background-color) 85%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: 0.25s background-color ease;
}

/* Draw the underline as a separate element so we can use z-index */
#header::after {
  content: '';
  position: absolute;
  z-index: calc(var(--docs-header-z-index) + 1);
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: solid var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  transition: 0.25s border-color ease;
}

/* Header groups */
.header-group {
  display: flex;
  position: relative;
  line-height: calc(var(--docs-header-height) / 2);
  height: calc(var(--docs-header-height) / 2);
  align-items: center;
}

.header-group:first-of-type {
  flex: 1 1 auto;
}

.header-group:not(:first-of-type) + .header-group {
  border-left: solid var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  padding-inline-start: 1rem;
}

.header-group-scrollable {
  flex: 1 1 auto;
  display: flex;
  height: var(--docs-header-height);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;

  @supports (animation-timeline: scroll(self inline)) {
    & {
      animation: header-scroll-shadow linear;
      animation-timeline: scroll(self inline);
    }
  }
}

@keyframes header-scroll-shadow {
  from {
    box-shadow: inset -4px 0 4px 0 rgb(0 0 0 / 7.5%);
  }
  to {
    box-shadow: inset 4px 0 4px 0 rgb(0 0 0 / 7.5%);
  }
}

.header-group-scrollable-interior {
  display: flex;
  flex-wrap: nowrap;
}

/* Header logo */
#header-logo {
  flex: 0 0 auto;
}

#header-logo a {
  display: inline-flex;
  height: calc(var(--docs-header-height) - 1rem);
  justify-content: start;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

#header-logo img,
#header-logo svg {
  display: block;
  width: auto;
  height: calc(var(--docs-header-height) / 1.75);
  margin-inline-end: 0.25rem;
}

#header-logo svg.only-mobile {
  padding-block: 0.125rem;
}

/* Header group links */
#header-group-links > :first-child {
  /* Allow header links to be scrollable and right aligned */
  margin-inline-start: auto;
}

#header-group-links a {
  height: var(--docs-header-height);
  line-height: var(--docs-header-height);
  font-size: 0.875rem;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  padding-inline: 0.5rem;

  &:not(:last-child) {
    margin-inline-end: 0.5rem;
  }
}

#header-group-links a svg {
  width: 1.1em;
  height: 1.1em;
  vertical-align: -3px;
  color: deeppink;

  &:hover {
    animation: none;
  }
}

#header-group-links a[href*='/sponsor'] {
  span {
    display: inline-block;
    animation: 1.5s infinite heartbeat alternate ease;
  }

  svg {
    transition: 0.5s transform ease;
  }

  @media (hover: hover) {
    &:hover svg {
      transition: 500ms transform ease;
      transform: scaleX(-1);
    }
  }
}

@keyframes flip-x {
  0% {
    transform: scaleX(1);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes heartbeat {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.1;
  }
}

@media (hover: hover) {
  #header-group-links a:hover {
    color: var(--quiet-primary-text-colorful);
  }
}

#header-group-links a:focus-visible {
  outline-offset: calc(var(--quiet-focus-width) * -2 - var(--quiet-focus-offset));
}

#header-group-links .current {
  z-index: calc(var(--docs-header-z-index) + 2);
  color: var(--quiet-primary-text-colorful);
  font-weight: var(--quiet-font-weight-semibold);
  border-bottom: solid calc(var(--quiet-border-width) * 2) var(--quiet-primary-text-colorful);
}

/* Header group buttons */
#header-group-buttons {
  flex: 0 0 auto;
}

#header-group-buttons a,
#header-group-buttons button {
  display: inline-flex;
  align-items: center;
  height: calc(var(--docs-header-height) - 1rem);
  justify-content: center;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 0 0.5rem;
  margin: 0;
}

#header-group-buttons a svg,
#header-group-buttons button svg {
  height: 1.25rem;
  width: 1.25rem;
}

@media (hover: hover) {
  #header-group-buttons a:hover svg,
  #header-group-buttons button:hover svg {
    color: var(--quiet-primary-text-colorful);
  }
}

#open-sidebar,
#close-sidebar {
  display: none;
}

#navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: var(--docs-max-width);
}

#body {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  max-width: calc(var(--docs-max-width) - var(--docs-sidebar-width));
  min-height: 100vh;
  margin-block-start: var(--docs-header-height);
  margin: 0 auto;
}

#sidebar {
  position: sticky;
  align-self: start;
  top: var(--docs-header-height);
  height: calc(100vh - var(--docs-header-height));
  border-right: solid var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  background: var(--quiet-background-color);
  padding-inline-end: 2rem;
  padding-block: 3rem 2rem;
  overflow-x: hidden;
  overflow-y: auto;

  /* Bump the padding so focus rings and dots don't get clipped, then transform is back so it's visually aligned */
  padding-inline-start: calc(var(--quiet-focus-width) + var(--quiet-focus-offset) + 0.25rem);
  translate: calc(-1 * (var(--quiet-focus-width) + var(--quiet-focus-offset)) - 0.25rem);
}

#page {
  position: relative;
  display: grid;
  gap: var(--docs-content-spacing);
  grid-template-columns: auto;
  padding-block: var(--docs-header-height) 2rem;
  /* Adjust for the sidebar's focus ring offset so the page is equally balanced */
  margin-inline-end: calc(var(--quiet-focus-width) + var(--quiet-focus-offset));
}

#body.has-sidebar {
  grid-template-columns: var(--docs-sidebar-width) auto;
  max-width: var(--docs-max-width);
}

#body.has-sidebar #page {
  padding-inline-start: var(--docs-content-spacing);

  @media screen and (max-width: 959px) {
    & {
      padding-inline-start: 1.5rem;
    }
  }
}

#page.has-outline {
  grid-template-columns: auto var(--docs-outline-width);
}

.layout-splash {
  display: block;
}

.layout-splash #page {
  max-width: 58rem;
  padding-inline: 0;
  margin-inline: auto;
}

.layout-page #body {
  max-width: 70ch;
}

#content {
  order: 1;
  min-width: 0; /* prevent overflowing content from stretching the column */

  .title {
    margin-block-start: 3rem;
    margin-block-end: 2rem;
  }

  .component-info {
    margin-block-start: -1rem;
    margin-block-end: 1rem;
  }

  .component-tag {
    font-size: 1.2rem;
    color: var(--quiet-text-muted);
    background: transparent;
    padding: 0;
    margin-inline-end: 0.25rem;
  }
}

#content pre:has(code) {
  background-color: var(--quiet-neutral-900);
  padding: 0;

  > code {
    display: block;
    hyphens: none;
    white-space: pre;
    tab-size: 2;
    color: white;
    background-color: transparent;
    border-radius: inherit;
    padding: calc(var(--quiet-content-spacing) / 2);
    overflow-x: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  quiet-badge {
    font-size: 0.875rem;
    vertical-align: 0.3em;
  }
}

/* Anchor headings */
.anchor-heading {
  max-width: fit-content;
}

.anchor-heading a {
  visibility: hidden;
  text-decoration: none;
}

@media (hover: hover) {
  .anchor-heading:hover a {
    visibility: visible;
    padding: 0 0.125em;
  }
}

#content aside {
  float: inline-end;
  max-width: 340px;
  background-color: var(--quiet-background-color-lowered);
  border-radius: calc(var(--quiet-border-radius) * 1.5);
  padding: 1.5rem;
  margin-inline-start: 1.5rem;
  margin-block: 1.5rem;
}

#content aside :first-child {
  margin-block-start: 0;
}

#content aside :last-child {
  margin-block-end: 0;
}

@media screen and (max-width: 959px) {
  #content aside {
    float: none;
    max-width: none;
    margin-inline: 0;
    margin-block: 2rem;
  }
}

figure.float-end {
  float: right;
  max-width: 50%;
  margin-inline-start: var(--quiet-content-spacing);
  margin-block: 0;
}

@media screen and (max-width: 959px) {
  figure.float-end {
    float: none;
    max-width: none;
    margin-inline: auto;
    margin-block-end: var(--quiet-content-spacing);
  }
}

/* Outline */
#outline {
  order: 2;
}

#outline h2 > a {
  font-weight: inherit;
  color: inherit;
}

#outline > nav {
  position: sticky;
  top: calc(var(--docs-header-height) + 3.5rem);
}

#outline-expandable {
  display: none;
}

#outline-expandable ul {
  columns: 2;
  column-gap: 2rem;
  padding-inline: 1rem;
}

#outline [data-level='3'] {
  margin-inline-start: 1rem;
}

@media screen and (max-width: 1419px) {
  :root {
    --docs-content-spacing: 4rem;
  }

  #body,
  #navbar {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 1279px) {
  #page {
    display: block;
    min-width: 0; /* prevent overflowing content from stretching the column */
    padding-inline-end: 2rem;
  }

  #outline {
    padding-block: 0.25rem;
    margin-block-end: -1rem;
  }

  #outline-standard {
    display: none;
  }

  #outline-expandable {
    display: block;
  }
}

@media screen and (max-width: 959px) {
  .header-group:not(:first-of-type) + .header-group {
    padding-inline-start: 0.5rem;
  }

  #body {
    display: block;
    padding-inline: 0;
  }

  #navbar {
    padding-inline: 1rem;
  }

  #open-sidebar,
  #close-sidebar {
    display: flex;
  }

  #close-sidebar {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
  }

  #sidebar {
    position: fixed;
    z-index: var(--docs-sidebar-z-index);
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--docs-sidebar-width-mobile);
    max-width: calc(100% - 2rem);
    height: 100%;
    border-right: none;
    padding-inline: 1.5rem;
    padding-block: 3.25rem 2rem;
    translate: -100%;
    transition:
      var(--docs-sidebar-speed) translate cubic-bezier(0.33, 1, 0.68, 1),
      var(--docs-sidebar-speed) box-shadow cubic-bezier(0.33, 1, 0.68, 1);
  }

  .docs-sidebar-open #sidebar {
    box-shadow: 0 1px 1rem rgb(0 0 0 / 0.33);
    translate: 0;
  }

  #backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: calc(var(--docs-sidebar-z-index) - 1);
    background-color: var(--quiet-backdrop-color);
    backdrop-filter: var(--quiet-backdrop-filter);
    -webkit-backdrop-filter: var(--quiet-backdrop-filter);
  }

  #page {
    max-width: 70ch;
    padding-inline: 1.5rem;
    margin: 0 auto;
  }

  #outline-expandable ul {
    columns: 1;
  }
}

.docs-is-resizing #sidebar,
.docs-is-resizing #backdrop {
  transition: none;
}

/* Icon buttons */
.docs-icon-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
  cursor: pointer;
}

.docs-icon-button:focus-visible {
  outline: var(--quiet-focus-ring);
  outline-offset: 2px;
}

.docs-icon-button > svg {
  align-self: center;
  justify-self: center;
  width: 1.5rem;
  height: 1.5rem;
}

/* Aside content */
.docs-aside {
  font-size: 0.875rem;
  line-height: calc(var(--quiet-line-height) * 0.875);
}

.docs-aside h2 {
  font-size: inherit;
  margin-block: 0.5rem;
}

.docs-aside ul {
  margin-inline: 0;
}

.docs-aside ul ul {
  margin-block: 0.5rem;
  margin-inline: 1rem;
}

.docs-aside li {
  color: var(--quiet-text-muted);
  list-style: none;
}

.docs-aside li:not(:last-of-type) {
  margin-block-end: 0.5rem;
}

.docs-aside a {
  color: inherit;
  font-weight: var(--quiet-font-weight-normal);
  text-decoration: none;
  transition: 150ms color ease;

  @media (hover: hover) {
    &:not(.current):hover {
      color: var(--quiet-text-body);
    }
  }
}

.docs-aside .current {
  font-weight: var(--quiet-font-weight-semibold);
  color: var(--quiet-primary-text-colorful);
}

/* Callouts */
quiet-callout {
  margin-block-end: var(--quiet-content-spacing);

  > :last-child {
    margin-block-end: 0;
  }

  &[variant='primary'] {
    code {
      background-color: color-mix(in oklab, var(--quiet-primary-fill-soft), transparent 25%);
    }

    kbd {
      border-color: var(--quiet-primary-fill-soft);
      box-shadow: 0 max(1px, 0.0715em) 0 0 var(--quiet-primary-fill-soft);
    }
  }

  &[variant='secondary'] {
    code {
      background-color: color-mix(in oklab, var(--quiet-neutral-fill-soft), transparent 25%);
    }

    kbd {
      border-color: var(--quiet-neutral-fill-soft);
      box-shadow: 0 max(1px, 0.0715em) 0 0 var(--quiet-neutral-fill-soft);
    }
  }

  &[variant='constructive'] {
    code {
      background-color: color-mix(in oklab, var(--quiet-constructive-fill-soft), transparent 25%);
    }

    kbd {
      border-color: var(--quiet-constructive-fill-soft);
      box-shadow: 0 max(1px, 0.0715em) 0 0 var(--quiet-constructive-fill-soft);
    }
  }

  &[variant='destructive'] {
    code {
      background-color: color-mix(in oklab, var(--quiet-destructive-fill-soft), transparent 25%);
    }

    kbd {
      border-color: var(--quiet-destructive-fill-soft);
      box-shadow: 0 max(1px, 0.0715em) 0 0 var(--quiet-destructive-fill-soft);
    }
  }
}

/* Splash */
.layout-splash {
  background-color: var(--quiet-silent);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* cspell:disable-next-line */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C6CBFF'/%3E%3Cstop offset='1' stop-color='%23DFE2FE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23989CFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23989CFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}

.quiet-dark .layout-splash {
  /* cspell:disable-next-line */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23434578'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23292A4D' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23292A4D' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
}

.layout-splash:not(.scrolled-down) #header {
  background-color: transparent;
}

.layout-splash:not(.scrolled-down) #header::after {
  border-color: transparent;
}

.splash {
  font-size: 1.375rem;
  font-weight: var(--quiet-font-weight-bold);
  line-height: 1.4;
  text-align: center;
  padding-inline: 2rem;
  margin-block: 24vh;
}

.splash img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  margin-block-end: 4vh;
}

.splash .subtitle {
  font-size: 2.25rem;
}

.splash-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 4rem;
}

@media screen and (max-width: 600px) {
  .splash-actions {
    flex-direction: column;
    align-items: center;

    quiet-button {
      width: fit-content;
    }
  }
}

@media screen and (max-width: 959px) {
  .splash {
    font-size: 1rem;
    line-height: 1.3;
  }

  .splash .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 1000px) {
  .splash {
    margin-block: 14vh;
  }
}

.sponsorship-quote {
  border: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  border-radius: calc(var(--quiet-border-radius) * 6);
  box-shadow: var(--quiet-shadow-softer);
  text-align: center;
  padding: 2rem;
  margin-block: calc(var(--quiet-content-spacing) * 1.5);
  scale: 1.025;

  .quote {
    display: flex;
    align-items: start;
    gap: 2rem;
    font-size: 1.25rem;
  }

  quiet-button {
    width: 100%;
    margin-block-start: 2rem;
  }

  img {
    max-width: 5rem;
    height: auto;
    border-radius: 50%;
  }

  @media screen and (max-width: 959px) {
    & .quote {
      flex-direction: column;
      align-items: center;
    }

    & quiet-button {
      max-width: 80%;
    }
  }
}

/* Tables */
.table-checkmark svg {
  width: 1em;
  height: 1em;
}

.table-scroll {
  max-width: 100%;
  overflow-x: auto;
}

/* Component pages */
.component-summary {
  font-size: 1.25rem;
}

.component-table td:not(.table-description) code,
.dependency-list code {
  background: none;
}

.table-description {
  min-width: 30ch;
}

.table-name code,
.table-attribute code,
.table-type code,
.table-selector code,
.table-default code {
  display: inline-block;
  white-space: nowrap;
}
