/* Box sizing reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Hide custom elements until they're upgraded to prevent FOUCE */
:not(:defined) {
  visibility: hidden;
}

html,
body {
  font-family: var(--quiet-font-family);
  font-size: var(--quiet-font-size);
  font-weight: var(--quiet-font-weight-normal);
  color: var(--quiet-text-body);
  background-color: var(--quiet-background-color);
  line-height: var(--quiet-line-height);
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--quiet-selection-background-color);
  color: var(--quiet-selection-color);
  text-shadow: none !important;
}

/* Content spacing */
address,
audio,
blockquote,
dd,
details,
dl,
fieldset,
figure,
iframe,
ol,
p,
pre,
table,
ul,
video {
  margin: 0;
  margin-block-end: calc(var(--quiet-content-spacing));

  & > :last-child {
    margin-block-end: 0;
  }
}

/* Headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--quiet-font-family-heading);
  font-weight: var(--quiet-font-weight-bold);
  line-height: 1.3;
  overflow-wrap: break-word;
  text-wrap: balance;
  margin: 0;
  margin-block-end: calc(var(--quiet-content-spacing) / 4);

  &:not(:first-child) {
    margin-block-start: var(--quiet-content-spacing);
  }
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  overflow-wrap: break-word;

  &:has(+ p) {
    margin-block-end: calc(var(--quiet-content-spacing) / 2);
  }
}

/* Block quotes */
blockquote {
  position: relative;
  font-size: 1.125em;
  color: var(--quiet-text-muted);
  border-left: var(--quiet-border-style) calc(var(--quiet-border-width) * 4) var(--quiet-neutral-stroke-softer);
  padding: calc(var(--quiet-content-spacing) / 1.5) var(--quiet-content-spacing);
}

/* Dividers */
hr {
  border: none;
  border-top: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  margin: calc(var(--quiet-content-spacing) * 2) 0;
}

/* Media */
img,
iframe,
picture,
video,
canvas {
  display: block;
  border-radius: var(--quiet-border-radius);
  width: 100%;
  max-width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 9 / 6;
}

/* Inline text elements */
a {
  font-weight: var(--quiet-font-weight-semibold);
  color: var(--quiet-primary-text-colorful);
  text-decoration-thickness: 0.09375em;
  text-underline-offset: 0.125em;
  transition: 150ms color ease;

  @media (hover: hover) {
    &:hover {
      color: color-mix(in oklab, var(--quiet-primary-text-colorful), black 10%);
    }
  }
}

a,
button {
  &:focus-visible {
    outline: var(--quiet-focus-ring);
    outline-offset: var(--quiet-focus-offset);
  }
}

abbr[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.09375em;
  text-decoration-color: var(--quiet-neutral-fill-mid);
  text-underline-offset: 0.125em;
  cursor: help;
}

del {
  text-decoration-color: var(--quiet-destructive-fill-mid);
  text-decoration-style: solid;
  text-decoration-thickness: 0.09375em;
}

ins {
  text-decoration-color: var(--quiet-constructive-fill-mid);
  text-decoration-style: solid;
  text-decoration-thickness: 0.09375em;
  text-underline-offset: 0.125em;
}

kbd {
  font-size: 0.875em;
  border: solid max(1px, 0.0715em) var(--quiet-neutral-fill-soft);
  box-shadow: 0 max(1px, 0.0715em) 0 0 var(--quiet-neutral-fill-soft);
  border-radius: calc(var(--quiet-border-radius) / 2);
  padding: 0.125em 0.33em;
}

mark {
  background-color: color-mix(in oklab, #f4dd01, transparent 75%);
  border-radius: 0;
  color: inherit;
  border-radius: calc(var(--quiet-border-radius) / 2);
  padding: 0.125em 0.25em;
}

small {
  font-size: 0.875em;
  color: var(---quiet-text-muted);
}

strong {
  font-weight: var(--quiet-font-weight-bold);
}

u {
  text-decoration-thickness: 0.09375em;
  text-underline-offset: 0.125em;
}

/* Code */
code,
samp,
tt {
  background: var(--quiet-neutral-fill-softer);
  border-radius: calc(var(--quiet-border-radius) / 2);
  font-family: var(--quiet-font-family-code);
  font-size: 0.875em;
  padding: 0.125em 0.25em;
}

a:has(code, samp, tt, pre) {
  font-weight: inherit;
}

pre {
  position: relative;
  background: var(--quiet-neutral-fill-softer);
  border-radius: var(--quiet-border-radius);
  font-family: var(--quiet-font-family-code);
  font-size: 0.9375rem;
  color: var(--quiet-neutral-text-on-soft);
  padding: calc(var(--quiet-content-spacing) / 2);

  code {
    font-size: inherit;
  }
}

/* Lists */
ul,
ol {
  padding: 0;
  margin-inline-start: 1.1em;
}

ul li {
  list-style-type: disc;
}

li > ol,
li > ul {
  margin-inline-start: 1.25em;
}

ul ul,
ol ol {
  margin-block-end: 0;
}

li p:last-child {
  margin-block-end: 0;
}

/* Figures */
figure {
  box-shadow: var(--quiet-shadow-softer);
  border: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  border-radius: var(--quiet-border-radius);
  padding: calc(var(--quiet-content-spacing) / 2);
}

figcaption {
  padding-block-start: calc(var(--quiet-content-spacing) / 2);
}

/* Definition lists */
dt {
  font-weight: var(--quiet-font-weight-bold);
}

dd:not(:last-of-type) {
  margin-block-end: calc(var(--quiet-content-spacing) / 2);
}

/* Details */
details {
  background-color: var(--quiet-neutral-fill-softer);
  border-radius: var(--quiet-border-radius);
  padding-inline: calc(var(--quiet-content-spacing) / 2);

  &[open] {
    padding-block-end: calc(var(--quiet-content-spacing) / 2);
  }

  &[open] > summary::before {
    rotate: 90deg;
  }

  summary {
    font-weight: var(--quiet-font-weight-semibold);
  }

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  + details {
    margin-block-start: calc(var(--quiet-content-spacing) / -1.25);
  }

  code,
  samp,
  tt {
    background-color: color-mix(in oklab, var(--quiet-neutral-fill-softer), var(--quiet-strident) 5%);
  }
}

summary {
  position: relative;
  display: block;
  cursor: pointer;
  text-indent: 1.4em;
  padding-block: calc(var(--quiet-content-spacing) / 2);
  margin: 0;
  user-select: none;

  ~ * {
    margin-block-start: 0;
  }

  &::before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent currentColor;
    position: absolute;
    top: calc(50% - 0.4rem);
    left: 0.2rem;
    transform-origin: 0.2rem 50%;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

/* Tables */
table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.9375rem;
}

thead th,
thead td,
tr:not(:last-of-type) th,
tr:not(:last-of-type) td {
  border-bottom: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
}

tfoot th,
tfoot td {
  border-top: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
}

th,
td[scope],
tfoot td {
  font-weight: var(--quiet-font-weight-semibold);
}

th,
td {
  text-align: start;
  padding: 0.75em;
}

/* Form controls */
input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  border: var(--quiet-border-style) var(--quiet-border-width) var(--quiet-neutral-stroke-softer);
  border-radius: var(--quiet-border-radius);
  padding: 1.5rem;
  padding-block-start: 1rem;
  margin: 0;
  margin-block-end: var(--quiet-content-spacing);
}

/* Utilities */
.visually-hidden,
.visually-hidden-focusable:not(:focus-within) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

[hidden] {
  display: none !important;
}
