@layer quiet-vibes {
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //
  //  Just some fun vibes to spice things up.
  //
  //  This feature is experimental!
  //
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  .quiet-catapult {
    --quiet-border-width: 1.5px;
    --quiet-border-radius: 0.5rem;
    --quiet-font-family: 'Trebuchet MS', system-ui, sans-serif;
    --quiet-font-family-code: 'Andale Mono', 'Courier New', monospace;
    --quiet-font-size: 17px;
    --quiet-line-height: 1.6;
    --quiet-focus-width: 4px;
  }

  .quiet-stately {
    --quiet-border-style: double;
    --quiet-border-width: 4px;
    --quiet-border-radius: 0.75rem;
    --quiet-font-family: Georgia, 'Times New Roman', serif;
    --quiet-font-family-heading: Palatino, Georgia, serif;
    --quiet-font-family-code: Consolas, Menlo, Monaco, 'Liberation Mono', 'Courier New', monospace;
    --quiet-font-size: 17px;
    --quiet-font-weight-normal: 400;
    --quiet-font-weight-semibold: 500;
    --quiet-font-weight-bold: 600;
    --quiet-line-height: 1.7;
    --quiet-focus-width: 3px;
  }

  .quiet-vintage {
    --quiet-border-width: 1px;
    --quiet-border-radius: 3px;
    --quiet-font-family: Verdana, Arial, sans-serif;
    --quiet-font-family-heading: Tahoma, Verdana, Arial, sans-serif;
    --quiet-font-family-code: 'Andale Mono', 'Courier New', monospace;
    --quiet-font-size: 15px;
    --quiet-font-weight-normal: 400;
    --quiet-font-weight-semibold: 550;
    --quiet-font-weight-bold: 600;
    --quiet-line-height: 1.6;
    --quiet-focus-width: 2px;
  }
}
